.navbar {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  span {
    font-weight: bold;
  }

  .social-links {
    display: flex;
    gap: 20px;
  }

  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
